.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0px 30px;
}

.article__element {
    font-weight: 1000;
    margin: 0.8px;
    padding: 10px 20px;
    background-color: white;
}

.article__element--headerStyle {
    background-color: #eee;
    margin-bottom: -10px;
    padding: 0px;
}

.article__element--column2 {
    margin-top: 10px;
}

.article__element--modText {
    padding: 0px 20px;
}




.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form__input {
    height: 30px;
    width: calc(100% - 7px);
}

.label__input {
    flex-grow: 2;
}

.form__button {
    height: 100%;
    background-color: teal;
    color: white;
    border-style: none;
}

.form__button:hover {
    background-color: rgb(0, 162, 162);
}

.form__button:active {
    background-color: rgb(0, 190, 190);
}

.label__button {
    margin-left: 20px;
}




.list__block {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-weight: 500;
    border-bottom: 2px #333 solid;
    border-width: 1px;
    list-style: none;
    margin-left: -40px;
    padding: 10px 0px;
}

.list__taskText {
    flex-grow: 1;
    align-self: center;

}

.list__taskText--check {
    text-decoration: line-through
}

.list__buttonChecker {
    align-self: center;
    margin-right: 10px;
    border-radius: 30px;
    background-color: #eee;
    color: #eee;
    border-width: 1px;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.list__buttonChecker:hover {
    background-color: rgb(0, 199, 0);
}

.list__buttonChecker:active {
    background-color: rgb(0, 255, 0);
}

.list__buttonChecker--check {
    background-color: green;
}

.list__buttonRemoveTask {
    height: auto;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    border-style: none;
}

.buttonRemoveTask__img {
    border-radius: 10px;
    padding: 5px;
    filter: opacity(40%);
}

.buttonRemoveTask__img:hover {
    filter: opacity(70%);
}

.buttonRemoveTask__img:active {
    filter: opacity(100%);
}





@media (max-width:720px) {
    .article {
        padding: 10px;
    }

    .form {
        display: flex;
        width: auto;
        flex-direction: column;
        padding: 0px;
        margin: 0px;

    }

    .label__button {
        padding-top: 10px;
        margin: 0px;
    }

    .form__button {
        height: 30px;
        width: 100%;
    }
}