.form {
    display: flex;
}

.form__input {
    height: 30px;
    width: calc(100% - 8px);
}

.label__input {
    flex-grow: 1;
}

.label__button {
    margin-left: 20px;
}

.form__button {
    height: 100%;
    background-color: teal;
    color: white;
    border-style: none;
    flex-grow: 1;
}

@media (max-width: 768px) {
    .form {
        flex-direction: column;
    }

    .label__button {
        margin: 10px 0px 0px 0px;
    }

    .form__button {
        width: 100%;
        height: 33px;
    }
}

.form__button:hover {
    background-color: rgb(0, 162, 162);
}

.form__button:active {
    background-color: rgb(0, 190, 190);
}