.list__block {
    display: flex;
    border-bottom: 2px solid #eee;
    padding: 10px 20px;
    word-break: break-word;
}

.list__task {
    flex-grow: 1;
    padding: 5px;
}

.list__task--check {
    text-decoration: line-through;
}

.list__button {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border-style: none;
    padding: 0px;
    color: white;
    transition: 0.3s;
}

.list__button--checker {
    background-color: rgb(6, 180, 0);
}

.list__button--checker:hover {
    background-color: rgb(0, 205, 0);
}

.list__button--checker:active {
    background-color: rgb(0, 225, 0);
}

.list__button--remover {
    background-color: rgb(190, 0, 0);
}

.list__button--remover:hover {
    background-color: rgb(230, 0, 0);
}

.list__button--remover:active {
    background-color: rgb(255, 0, 0);
}